.App {
  text-align: center;
}

.Photo {
  height: 50vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-home {
  background-color: #15181e;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-evenly;
    font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #58dd43;
  /*how to have this be centered above p tags?*/
  
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

p {
  color: #58dd43;
  font-size: 25px;
}